[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.0"
flask-mongoengine = "1.0.0"
flask-swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.10"
