[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-swagger-ui = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
psycopg2-binary = "*"
psycopg2 = "*"
marshmallow = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
